/* light */
.markdown-body {
  color-scheme: light;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  font-weight: 400;
  color: #1f2328;
  background-color: #fff;
  font-family: "Mona Sans VF", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans Backtick Fix", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.5;
}

.markdown-body a {
  text-decoration: underline;
  text-underline-offset: .2rem;
}

.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body [hidden] {
  display: none!important;
}

.markdown-body a {
  background-color: #0000;
  color: #0969da;
  text-decoration: none;
}

.markdown-body abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-body b,
.markdown-body strong {
  font-weight: 600;
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body h1 {
  margin: .67em 0;
  font-weight: 600;
  border-bottom: 1px solid #d1d9e0b3;
  padding-bottom: .3em;
  font-size: 2em;
}

.markdown-body mark {
  background-color: #fff8c5;
  color: #1f2328;
}

.markdown-body sub,
.markdown-body sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

.markdown-body sub {
  bottom: -.25em;
}

.markdown-body sup {
  top: -.5em;
}

.markdown-body img {
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
  font-family: monospace;
  font-size: 1em;
}

.markdown-body figure {
  margin: 1em 2.5rem;
}

.markdown-body hr {
  box-sizing: content-box;
  border-bottom: 1px solid #d1d9e0b3;
  background: 0 0;
  overflow: hidden;
  height: .25em;
  margin: 1.5rem 0;
  background-color: #d1d9e0;
  border: 0;
  padding: 0;
}

.markdown-body input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body [type=button],
.markdown-body [type=reset],
.markdown-body [type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

.markdown-body [type=checkbox],
.markdown-body [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body [type=number]::-webkit-inner-spin-button {
  height: auto;
}

.markdown-body [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.markdown-body [type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.markdown-body ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body ::placeholder {
  color: #59636e;
  opacity: 1;
}

.markdown-body hr:before {
  content: "";
  display: table;
}

.markdown-body hr:after {
  clear: both;
  content: "";
  display: table;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  font-variant: tabular-nums;
  width: max-content;
  max-width: 100%;
  display: block;
  overflow: auto;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body a:focus,
.markdown-body [role=button]:focus,
.markdown-body input[type=radio]:focus,
.markdown-body input[type=checkbox]:focus {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body a:focus:not(:focus-visible),
.markdown-body [role=button]:focus:not(:focus-visible),
.markdown-body input[type=radio]:focus:not(:focus-visible),
.markdown-body input[type=checkbox]:focus:not(:focus-visible) {
  outline: 1px solid #0000;
}

.markdown-body a:focus-visible,
.markdown-body [role=button]:focus-visible,
.markdown-body input[type=radio]:focus-visible,
.markdown-body input[type=checkbox]:focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
  box-shadow: none;
}

.markdown-body a:not([class]):focus,
.markdown-body a:not([class]):focus-visible,
.markdown-body input[type=radio]:focus,
.markdown-body input[type=radio]:focus-visible,
.markdown-body input[type=checkbox]:focus,
.markdown-body input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.markdown-body kbd {
  padding: .25rem;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  color: #1f2328;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px var(--borderColor-muted);
  border-bottom-color: var(--borderColor-muted);
  box-shadow: inset 0 -1px 0 var(--borderColor-muted);
  border-radius: 6px;
  max-width: 100%;
  line-height: 10px;
  display: inline-block;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h2 {
  font-weight: 600;
  border-bottom: 1px solid #d1d9e0b3;
  padding-bottom: .3em;
  font-size: 1.5em;
}

.markdown-body h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.markdown-body h4 {
  font-weight: 600;
  font-size: 1em;
}

.markdown-body h5 {
  font-weight: 600;
  font-size: .875em;
}

.markdown-body h6 {
  font-weight: 600;
  color: #59636e;
  font-size: .85em;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body small {
  font-size: 90%;
}

.markdown-body blockquote {
  margin: 0;
  color: #59636e;
  border-left: .25em solid #d1d9e0;
  padding: 0 1em;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body tt,
.markdown-body code,
.markdown-body samp {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
}

.markdown-body pre {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  overflow-wrap: normal;
}

.markdown-body .octicon {
  vertical-align: text-bottom;
  fill: currentColor;
  display: inline-block;
  overflow: visible!important;
}

.markdown-body .Box-body.scrollable-overlay {
  max-height: 400px;
  overflow-y: scroll;
}

.markdown-body .Box-body .help {
  padding-top: .5rem;
  color: #59636e;
  text-align: center;
  margin: 0;
}

.markdown-body input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.markdown-body input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.markdown-body .border {
  border: .0625rem solid #d1d9e0!important;
}

.markdown-body .border-0 {
  border: 0!important;
}

.markdown-body .circle {
  border-radius: 624.938rem!important;
}

.markdown-body .color-fg-muted {
  color: #59636e!important;
}

.markdown-body .color-bg-default {
  background-color: #fff!important;
}

.markdown-body .color-border-subtle {
  border-color: #d1d9e0b3!important;
}

.markdown-body .mb-0 {
  margin-bottom: 0!important;
}

.markdown-body .ml-1 {
  margin-left: .25rem!important;
}

.markdown-body .mr-2 {
  margin-right: .5rem!important;
}

.markdown-body .my-2 {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}

.markdown-body .p-0 {
  padding: 0!important;
}

.markdown-body .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown-body .f6 {
  font-size: .75rem!important;
}

.markdown-body .text-bold {
  font-weight: 600!important;
}

.markdown-body .d-inline-block {
  display: inline-block!important;
}

.markdown-body .sr-only {
  width: 1px;
  height: 1px;
  clip-path: rect(0 0 0 0);
  overflow-wrap: normal;
  border: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.markdown-body:before {
  content: "";
  display: table;
}

.markdown-body:after {
  clear: both;
  content: "";
  display: table;
}

.markdown-body>:first-child {
  margin-top: 0!important;
}

.markdown-body>:last-child {
  margin-bottom: 0!important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .absent {
  color: #d1242f;
}

.markdown-body .anchor {
  float: left;
  padding-right: .25rem;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1f2328;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit;
  padding: 0 .2em;
}

.markdown-body summary h1,
.markdown-body summary h2,
.markdown-body summary h3,
.markdown-body summary h4,
.markdown-body summary h5,
.markdown-body summary h6 {
  display: inline-block;
}

.markdown-body summary h1 .anchor,
.markdown-body summary h2 .anchor,
.markdown-body summary h3 .anchor,
.markdown-body summary h4 .anchor,
.markdown-body summary h5 .anchor,
.markdown-body summary h6 .anchor {
  margin-left: -40px;
}

.markdown-body summary h1,
.markdown-body summary h2 {
  border-bottom: 0;
  padding-bottom: 0;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
  padding: 0;
  list-style-type: none;
}

.markdown-body ol[type=a\ s] {
  list-style-type: lower-alpha;
}

.markdown-body ol[type=A\ s] {
  list-style-type: upper-alpha;
}

.markdown-body ol[type=i\ s] {
  list-style-type: lower-roman;
}

.markdown-body ol[type=I\ s] {
  list-style-type: upper-roman;
}

.markdown-body ol[type="1"],
.markdown-body div>ol:not([type]) {
  list-style-type: decimal;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li>p {
  margin-top: 1rem;
}

.markdown-body li+li {
  margin-top: .25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  padding: 0;
}

.markdown-body dl dt+dt {
  margin-top: 0;
}

.markdown-body dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid #d1d9e0;
  padding: 6px 13px;
}

.markdown-body table td>:last-child {
  margin-bottom: 0;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #d1d9e0b3;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table img {
  background-color: #0000;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}

.markdown-body .emoji {
  vertical-align: text-top;
  background-color: #0000;
  max-width: none;
}

.markdown-body span.frame {
  display: block;
  overflow: hidden;
}

.markdown-body span.frame>span {
  float: left;
  border: 1px solid #d1d9e0;
  width: auto;
  margin: 13px 0 0;
  padding: 7px;
  display: block;
  overflow: hidden;
}

.markdown-body span.frame span img {
  float: left;
  display: block;
}

.markdown-body span.frame span span {
  clear: both;
  color: #1f2328;
  padding: 5px 0 0;
  display: block;
}

.markdown-body span.align-center {
  clear: both;
  display: block;
  overflow: hidden;
}

.markdown-body span.align-center>span {
  text-align: center;
  margin: 13px auto 0;
  display: block;
  overflow: hidden;
}

.markdown-body span.align-center span img {
  text-align: center;
  margin: 0 auto;
}

.markdown-body span.align-right {
  clear: both;
  display: block;
  overflow: hidden;
}

.markdown-body span.align-right>span {
  text-align: right;
  margin: 13px 0 0;
  display: block;
  overflow: hidden;
}

.markdown-body span.align-right span img {
  text-align: right;
  margin: 0;
}

.markdown-body span.float-left {
  float: left;
  margin-right: 13px;
  display: block;
  overflow: hidden;
}

.markdown-body span.float-left span {
  margin: 13px 0 0;
}

.markdown-body span.float-right {
  float: right;
  margin-left: 13px;
  display: block;
  overflow: hidden;
}

.markdown-body span.float-right>span {
  text-align: right;
  margin: 13px auto 0;
  display: block;
  overflow: hidden;
}

.markdown-body code,
.markdown-body tt {
  white-space: break-spaces;
  background-color: #818b981f;
  border-radius: 6px;
  margin: 0;
  padding: .2em .4em;
  font-size: 85%;
}

.markdown-body code br,
.markdown-body tt br {
  display: none;
}

.markdown-body del code {
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

.markdown-body samp {
  font-size: 85%;
}

.markdown-body pre code {
  font-size: 100%;
}

.markdown-body pre>code {
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.markdown-body .highlight {
  margin-bottom: 1rem;
}

.markdown-body .highlight pre {
  word-break: normal;
  margin-bottom: 0;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 1rem;
  color: #1f2328;
  background-color: #f6f8fa;
  border-radius: 6px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
}

.markdown-body pre code,
.markdown-body pre tt {
  line-height: inherit;
  overflow-wrap: normal;
  background-color: #0000;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  overflow: visible;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
  text-align: left;
  white-space: nowrap;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
}

.markdown-body .csv-data .blob-num {
  padding: 10px .5rem 9px;
  text-align: right;
  background: #fff;
  border: 0;
}

.markdown-body .csv-data tr {
  border-top: 0;
}

.markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

.markdown-body [data-footnote-ref]:before {
  content: "[";
}

.markdown-body [data-footnote-ref]:after {
  content: "]";
}

.markdown-body .footnotes {
  color: #59636e;
  border-top: 1px solid #d1d9e0;
  font-size: 12px;
}

.markdown-body .footnotes ol {
  padding-left: 1rem;
}

.markdown-body .footnotes ol ul {
  padding-left: 1rem;
  margin-top: 1rem;
  display: inline-block;
}

.markdown-body .footnotes li {
  position: relative;
}

.markdown-body .footnotes li:target:before {
  top: calc(.5rem*-1);
  right: calc(.5rem*-1);
  bottom: calc(.5rem*-1);
  left: calc(1.5rem*-1);
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
  position: absolute;
}

.markdown-body .footnotes li:target {
  color: #1f2328;
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.markdown-body :is() {
  content: "";
  width: 100%;
  height: 100%;
  min-height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%)translateY(-50%);
}

.markdown-body .Box {
  background-color: #fff;
  border-color: #d1d9e0;
  border-style: solid;
  border-width: .0625rem;
  border-radius: .375rem;
}

.markdown-body .Box--condensed {
  line-height: 1.25;
}

.markdown-body .Box--condensed .Box-body,
.markdown-body .Box--condensed .Box-footer,
.markdown-body .Box--condensed .Box-header {
  padding: .5rem 1rem;
}

.markdown-body .Box--condensed .Box-row {
  padding: .5rem 1rem;
}

.markdown-body .Box-header {
  padding: 1rem;
  margin: calc(.0625rem*-1) calc(.0625rem*-1) 0;
  background-color: #f6f8fa;
  border-color: #d1d9e0;
  border-style: solid;
  border-width: .0625rem;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}

.markdown-body .Box-body {
  padding: 1rem;
  border-bottom: .0625rem solid #d1d9e0;
}

.markdown-body .Box-body:last-of-type {
  margin-bottom: calc(.0625rem*-1);
  border-bottom-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.markdown-body .tmp-px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

.markdown-body .pl-c {
  color: var(--prettylights-syntax-comment);
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: var(--prettylights-syntax-constant);
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: var(--prettylights-syntax-entity);
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  color: var(--prettylights-syntax-storageModifierImport);
}

.markdown-body .pl-ent {
  color: var(--prettylights-syntax-entityTag);
}

.markdown-body .pl-k {
  color: var(--prettylights-syntax-keyword);
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: var(--prettylights-syntax-string);
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
  color: var(--prettylights-syntax-variable);
}

.markdown-body .pl-bu {
  color: var(--prettylights-syntax-bracketHighlighterUnmatched);
}

.markdown-body .pl-ii {
  color: var(--prettylights-syntax-invalidIllegal-text);
  background-color: var(--prettylights-syntax-invalidIllegal-bg);
}

.markdown-body .pl-c2 {
  color: var(--prettylights-syntax-carriageReturn-text);
  background-color: var(--prettylights-syntax-carriageReturn-bg);
}

.markdown-body .pl-sr .pl-cce {
  color: var(--prettylights-syntax-stringRegexp);
  font-weight: 700;
}

.markdown-body .pl-ml {
  color: var(--prettylights-syntax-markup-list);
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  color: var(--prettylights-syntax-markup-heading);
  font-weight: 700;
}

.markdown-body .pl-mi {
  color: var(--prettylights-syntax-markup-italic);
  font-style: italic;
}

.markdown-body .pl-mb {
  color: var(--prettylights-syntax-markup-bold);
  font-weight: 700;
}

.markdown-body .pl-md {
  color: var(--prettylights-syntax-markup-deleted-text);
  background-color: var(--prettylights-syntax-markup-deleted-bg);
}

.markdown-body .pl-mi1 {
  color: var(--prettylights-syntax-markup-inserted-text);
  background-color: var(--prettylights-syntax-markup-inserted-bg);
}

.markdown-body .pl-mc {
  color: var(--prettylights-syntax-markup-changed-text);
  background-color: var(--prettylights-syntax-markup-changed-bg);
}

.markdown-body .pl-mi2 {
  color: var(--prettylights-syntax-markup-ignored-text);
  background-color: var(--prettylights-syntax-markup-ignored-bg);
}

.markdown-body .pl-mdr {
  color: var(--prettylights-syntax-metaDiffRange);
  font-weight: 700;
}

.markdown-body .pl-ba {
  color: var(--prettylights-syntax-bracketHighlighterAngle);
}

.markdown-body .pl-sg {
  color: var(--prettylights-syntax-sublimeLinterGutterMark);
}

.markdown-body .pl-corl {
  color: var(--prettylights-syntax-constantOtherReferenceLink);
  text-decoration: underline;
}

.markdown-body [role=button]:focus:not(:focus-visible),
.markdown-body [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
.markdown-body button:focus:not(:focus-visible),
.markdown-body summary:focus:not(:focus-visible),
.markdown-body a:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}

.markdown-body [tabindex="0"]:focus:not(:focus-visible),
.markdown-body details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.markdown-body g-emoji {
  min-width: 1ch;
  font-family: Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 400;
  vertical-align: -.075em;
  line-height: 1;
  display: inline-block;
  font-style: normal!important;
  font-size: 1.25em;
}

.markdown-body g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body .commit-tease-sha {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  color: #1f2328;
  font-size: 90%;
  display: inline-block;
}

.markdown-body .blob-wrapper {
  overflow: auto hidden;
}

.markdown-body .blob-wrapper table tr:nth-child(2n) {
  background-color: #0000;
}

.markdown-body .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.markdown-body .blob-num {
  width: 1%;
  min-width: 50px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: var(--base-text-size-xs);
  color: #59636e;
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  position: relative;
}

.markdown-body .blob-num:hover {
  color: #1f2328;
}

.markdown-body .blob-num:before {
  content: attr(data-line-number);
}

.markdown-body .blob-num.non-expandable {
  cursor: default;
}

.markdown-body .blob-num.non-expandable:hover {
  color: #59636e;
}

.markdown-body .blob-code {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  position: relative;
}

.markdown-body .blob-code-inner {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: var(--base-text-size-xs);
  color: #1f2328;
  overflow-wrap: anywhere;
  white-space: pre;
  display: table-cell;
  overflow: visible;
}

.markdown-body .blob-code-inner .x-first {
  border-top-left-radius: .2em;
  border-bottom-left-radius: .2em;
}

.markdown-body .blob-code-inner .x-last {
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
}

.markdown-body .blob-code-inner.highlighted,
.markdown-body .blob-code-inner .highlighted {
  background-color: #fff8c5;
  box-shadow: inset 2px 0 0 #d4a72c66;
}

.markdown-body .blob-code-inner::selection,
.markdown-body .blob-code-inner ::selection {
  background-color: #0969da33;
}

.markdown-body .blob-code-inner.blob-code-addition,
.markdown-body .blob-code-inner.blob-code-deletion {
  position: relative;
  padding-left: 22px!important;
}

.markdown-body a:has(>p,>div,>pre,>blockquote) {
  display: block;
}

.markdown-body a:has(>p,>div,>pre,>blockquote):not(:has(.snippet-clipboard-content,>pre)) {
  overflow-wrap: anywhere;
  width: fit-content;
}

.markdown-body a:has(>p,>div,>pre,>blockquote):has(.snippet-clipboard-content,>pre):focus-visible {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: 2px;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item label {
  font-weight: 400;
}

.markdown-body .task-list-item.enabled label {
  cursor: pointer;
}

.markdown-body .task-list-item+.task-list-item {
  margin-top: .25rem;
}

.markdown-body .task-list-item .handle {
  display: none;
}

.markdown-body .task-list-item-checkbox {
  vertical-align: middle;
  margin: 0 .2em .25em -1.4em;
}

.markdown-body ul:is(:lang(ae),:lang(ar),:lang(arc),:lang(bcc),:lang(bqi),:lang(ckb),:lang(dv),:lang(fa),:lang(glk),:lang(he),:lang(ku),:lang(mzn),:lang(nqo),:lang(pnb),:lang(ps),:lang(sd),:lang(ug),:lang(ur),:lang(yi)) .task-list-item-checkbox,
.markdown-body ol:is(:lang(ae),:lang(ar),:lang(arc),:lang(bcc),:lang(bqi),:lang(ckb),:lang(dv),:lang(fa),:lang(glk),:lang(he),:lang(ku),:lang(mzn),:lang(nqo),:lang(pnb),:lang(ps),:lang(sd),:lang(ug),:lang(ur),:lang(yi)) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.markdown-body .contains-task-list:hover .task-list-item-convert-container,
.markdown-body .contains-task-list:focus-within .task-list-item-convert-container {
  width: auto;
  height: 1.5rem;
  clip-path: none;
  display: block;
  overflow: visible;
}

.markdown-body ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.markdown-body .markdown-alert {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: .25em solid #d1d9e0;
}

.markdown-body .markdown-alert>:first-child {
  margin-top: 0;
}

.markdown-body .markdown-alert>:last-child {
  margin-bottom: 0;
}

.markdown-body .markdown-alert .markdown-alert-title {
  font-weight: 500;
  align-items: center;
  line-height: 1;
  display: flex;
}

.markdown-body .markdown-alert.markdown-alert-note {
  border-left-color: #0969da;
}

.markdown-body .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #0969da;
}

.markdown-body .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.markdown-body .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.markdown-body .markdown-alert.markdown-alert-warning {
  border-left-color: #9a6700;
}

.markdown-body .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.markdown-body .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.markdown-body .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.markdown-body .markdown-alert.markdown-alert-caution {
  border-left-color: #cf222e;
}

.markdown-body .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #d1242f;
}

.markdown-body>:first-child>.heading-element:first-child {
  margin-top: 0!important;
}

.markdown-body .markdown-heading {
  position: relative;
}

.markdown-body .markdown-heading .heading-element:hover+.anchor {
  opacity: 1;
}

.markdown-body .markdown-heading h1.heading-element+.anchor,
.markdown-body .markdown-heading h2.heading-element+.anchor {
  transform: translateY(calc(-50% - .3rem));
}

.markdown-body .markdown-heading .anchor {
  border-radius: .375rem;
  opacity: 0;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: auto;
  display: flex;
  position: absolute;
  top: 50%;
  left: -28px;
  transform: translateY(-50%);
}

.markdown-body .markdown-heading .anchor:hover {
  opacity: 1;
}

.markdown-body .markdown-heading .anchor:focus {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
  opacity: 1;
}

.markdown-body .markdown-heading .anchor .octicon {
  color: #1f2328;
}

.markdown-body .tab-size[data-tab-size="1"] {
  tab-size: 1;
}

.markdown-body .tab-size[data-tab-size="2"] {
  tab-size: 2;
}

.markdown-body .tab-size[data-tab-size="3"] {
  tab-size: 3;
}

.markdown-body .tab-size[data-tab-size="4"] {
  tab-size: 4;
}

.markdown-body .tab-size[data-tab-size="5"] {
  tab-size: 5;
}

.markdown-body .tab-size[data-tab-size="6"] {
  tab-size: 6;
}

.markdown-body .tab-size[data-tab-size="7"] {
  tab-size: 7;
}

.markdown-body .tab-size[data-tab-size="8"] {
  tab-size: 8;
}

.markdown-body .tab-size[data-tab-size="9"] {
  tab-size: 9;
}

.markdown-body .tab-size[data-tab-size="10"] {
  tab-size: 10;
}

.markdown-body .tab-size[data-tab-size="11"] {
  tab-size: 11;
}

.markdown-body .tab-size[data-tab-size="12"] {
  tab-size: 12;
}

.markdown-body .Box .section-focus .preview-section {
  display: none;
}

.markdown-body .Box .section-focus .edit-section {
  display: block;
}

.markdown-body .highlight pre:has(+.zeroclipboard-container) {
  min-height: 52px;
}

