html, body {
    font-family: "Open Sans", sans-serif
    color: #333
}

code {
    font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", monospace;
    font-size: 0.875em;
}

.left {
    float: left
}

.right {
    float: right
}

.hidden {
    display: none;
}

h2, h3 { margin-top: 2.5em }
h4, h5 { margin-top: 2em }

.header + .header h3, .header + .header h4, .header + .header h5 { margin-top: 1em }

table {
    margin: 0 auto;
    border-collapse: collapse;

    td {
      padding: 3px 20px;
      border: 1px solid;
    }

    thead {
      td { font-weight: 700; }
    }
}
