html {
    font-family: "Open Sans", sans-serif
    color: #333
}

body {
    margin: 0;
    font-size: 1rem;
    overflow-x: hidden;
}

code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    font-size: 0.875em;
}

.left {
    float: left
}

.right {
    float: right
}

.hidden {
    display: none;
}

.play-button.hidden {
    display: none;
}

h2, h3 { margin-top: 2.5em }
h4, h5 { margin-top: 2em }

.header + .header h3, .header + .header h4, .header + .header h5 { margin-top: 1em }

a.header:target h1:before,
a.header:target h2:before,
a.header:target h3:before,
a.header:target h4:before {
    display: inline-block;
    content: "»";
    margin-left: -30px;
    width: 30px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;

    td {
      padding: 3px 20px;
      border: 1px solid;
    }

    thead {
      td { font-weight: 700; }
    }
}

:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}

.footnote-definition {
    font-size: 0.9em;
    margin: 0.5em 0;

    p { display: inline; }
}
