#menu-bar {
    position: -webkit-sticky
    position: sticky
    top: 0
    z-index: 101

    & > #menu-bar-sticky-container {
        display: flex
        flex-wrap: wrap
        transition: transform 0.5s, border-bottom-color 0.5s
    }

    i, .icon-button {
        position: relative
        margin: 0 10px
        z-index: 10
        line-height: 50px

        transition: color 0.5s

        &:hover { cursor: pointer }
    }
}


html:not(.sidebar-visible) #menu-bar:not(:hover).folded > #menu-bar-sticky-container  {
    transform: translateY(-60px);
}

.menu-title {
    display: inline-block
    font-weight: 200
    font-size: 20px
    line-height: 50px
    text-align: center
    margin: 0
    flex: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    cursor: pointer;
}
