.menu-bar {
    position: sticky
    top: 0
    display: flex
    flex-wrap: wrap
    z-index: 101
    transition: transform 0.5s, border-bottom-color 0.5s

    i, .icon-button {
        position: relative
        margin: 0 10px
        z-index: 10
        line-height: 50px

        transition: color 0.5s

        &:hover { cursor: pointer }
    }

    &.folded {
        transform: translateY(-60px);
    }
}

.menu-title {
    display: inline-block
    font-weight: 200
    font-size: 20px
    line-height: 50px
    text-align: center
    margin: 0
    flex: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
}
