.nav-chapters {
    font-size: 2.5em
    text-align: center
    text-decoration: none

    position: fixed
    top: 50px /* Height of menu-bar */
    bottom: 0
    margin: 0
    max-width: 150px
    min-width: 90px

    display: flex
    justify-content: center
    align-content: center
    flex-direction: column

    transition: color 0.5s
}

.nav-chapters:hover { text-decoration: none }

.nav-wrapper {
    margin-top: 50px
    display: none
}

.mobile-nav-chapters { 
    font-size: 2.5em
    text-align: center
    text-decoration: none
    width: 90px
    border-radius: 5px
}

.previous {
    float: left
}

.next {
    float: right
    right: $page-padding 
}

@media only screen and (max-width: $page-plus-sidebar-width) {
    .nav-wide-wrapper { display: none }
    .nav-wrapper { display: block }
}

@media only screen and (max-width: $page-plus-sidebar-width + $sidebar-width) {
    .sidebar-visible {
        .nav-wide-wrapper { display: none }
        .nav-wrapper { display: block }
    }
}
