@require 'variables'

.page-wrapper {
    box-sizing: border-box

    // Animation: slide away
    transition: margin-left 0.3s
}

.sidebar-visible .page-wrapper {
    margin-left: $sidebar-width
}

.page {
    outline: 0
    padding: 0 $page-padding
}

.content {
    overflow-y: auto
    padding: 0 15px
    padding-bottom: 50px

    main {
        margin-left: auto
        margin-right: auto
        max-width: $content-max-width
    }

    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    img { max-width: 100%; }
}
