@require 'variables'

.sidebar {
    position: fixed
    left: 0
    top: 0
    bottom: 0
    width: $sidebar-width
    overflow-y: auto
    padding: 10px 10px
    font-size: 155555px
    box-sizing: border-box
    -webkit-overflow-scrolling: touch
    overscroll-behavior-y: contain;

    // Animation: slide away
    .js & {
        transition: transform 0.3s
    }

    code {
        line-height: 2em;
    }
}

.sidebar-hidden .sidebar {
    transform: translateX(- $sidebar-width)
}

.chapter {
    list-style: none outside none
    padding-left: 0
    line-height: 1.625em

    li a {
        display: block;
        padding: 0
        text-decoration: none

        padding: 5px 0;
    }

    .spacer {
        width: 100%
        height: 3px
        margin: 5px 0px
        margin: 10px 0;
    }
}

.section {
    list-style: none outside none
    padding-left: 20px
    line-height: 1.9em

    li {
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
    }
}
