.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  margin: 5px;
  left: -250%;
  bottom: 100%;
  position: absolute;
  z-index: 1000;
}
.tooltipped .tooltiptext {
  visibility: visible;
}
