target

# MacOS temp file
.DS_Store

book-test
guide/book

.vscode
tests/dummy_book/book/
test_book/book/
tests/testsuite/*/*/book/

# Ignore Jetbrains specific files.
.idea/

# Ignore Vim temporary and swap files.
*.sw?
*~

# GUI tests
node_modules
package-lock.json
package.json
