[package]
name = "mdbook"
version = "0.0.28-alpha.0"
authors = ["Mathieu David <mathieudavid@mathieudavid.org>"]
description = "create books from markdown files (like Gitbook)"
documentation = "http://rust-lang-nursery.github.io/mdBook/index.html"
repository = "https://github.com/rust-lang-nursery/mdBook"
keywords = ["book", "gitbook", "rustbook", "markdown"]
license = "MPL-2.0"
readme = "README.md"
build = "build.rs"
exclude = [
    "book-example/*",
    "src/theme/stylus/**",
]

[dependencies]
clap = "2.24"
handlebars = "0.29"
serde = "1.0"
serde_derive = "1.0"
error-chain = "0.11.0"
serde_json = "1.0"
pulldown-cmark = "0.1"
lazy_static = "0.2"
log = "0.3"
env_logger = "0.4.0"
toml = "0.4"
open = "1.1"
regex = "0.2.1"
tempdir = "0.3.4"

# Watch feature
notify = { version = "4.0", optional = true }
time = { version = "0.1.34", optional = true }
crossbeam = { version = "0.3", optional = true }

# Serve feature
iron = { version = "0.5", optional = true }
staticfile = { version = "0.4", optional = true }
ws = { version = "0.7", optional = true}

[build-dependencies]
error-chain = "0.11"

[dev-dependencies]
select = "0.4"
pretty_assertions = "0.4"
walkdir = "1.0"

[features]
default = ["output", "watch", "serve"]
debug = []
output = []
regenerate-css = []
watch = ["notify", "time", "crossbeam"]
serve = ["iron", "staticfile", "ws"]

[[bin]]
doc = false
name = "mdbook"
path = "src/bin/mdbook.rs"
