$theme-name = 'light'

$bg = #ffffff
$fg = #333333

$sidebar-bg = #fafafa
$sidebar-fg = #364149
$sidebar-non-existant = #aaaaaa
$sidebar-active = #008cff
$sidebar-spacer = #f4f4f4

$icons = #cccccc
$icons-hover = #333333

$links = #4183c4

$theme-popup-bg = #fafafa
$theme-popup-border = #cccccc
$theme-hover = #e6e6e6

$quote-bg = #f2f7f9
$quote-border = darken($quote-bg, 5%)

$table-border-color = darken($bg, 5%)
$table-header-bg = darken($bg, 20%)
$table-alternate-bg = darken($bg, 3%)

@import 'base'
