$theme-name = 'ayu'

$bg = #0f1419
$fg = #c5c5c5

$sidebar-bg = #14191f
$sidebar-fg = #c8c9db
$sidebar-non-existant = #5c6773
$sidebar-active = #ffb454
$sidebar-spacer = #2d334f

$scrollbar = $sidebar-fg

$icons = #737480
$icons-hover = #b7b9cc

$links = #0096cf

$inline-code-color = #ffb454

$theme-popup-bg = #14191f
$theme-popup-border = #5c6773
$theme-hover = #191f26

$quote-bg = #262933
$quote-border = lighten($quote-bg, 5%)

$table-border-color = lighten($bg, 5%)
$table-header-bg = lighten($bg, 20%)
$table-alternate-bg = lighten($bg, 3%)

$searchbar-border-color = #848484
$searchbar-bg = #424242
$searchbar-fg = #fff
$searchbar-shadow-color = #d4c89f
$searchresults-header-fg = #666
$searchresults-border-color = #888
$searchresults-li-bg = #252932
$search-mark-bg = #e3b171

@import 'base'
