.{unquote($theme-name)} {
    /* Inline code */
    :not(pre) > .hljs {
        display: inline-block;
        vertical-align: middle;
        padding: 0.1em 0.3em;
        border-radius: 3px;
    }

    pre {
        position: relative;
    }
    pre > i {
        position: absolute;
        right: 5px;
        top: 5px;

        color: $sidebar-fg;
        cursor: pointer;

        :hover {
            color: $sidebar-active;
        }
    }

    color: $fg
    background-color: $bg

    .sidebar {
        background-color: $sidebar-bg
        color: $sidebar-fg
    }

    .chapter li {
        color: $sidebar-non-existant

        a { color: $sidebar-fg }

        .active,
         a:hover, {
            /* Animate color change */
            color: $sidebar-active
        }
    }

    .chapter .spacer {
        background-color: $sidebar-spacer
    }

    .menu-bar,
    .menu-bar:visited,
    .nav-chapters,
    .nav-chapters:visited,
    .mobile-nav-chapters,
    .mobile-nav-chapters:visited {
        color: $icons
    }

    .menu-bar i:hover,
    .nav-chapters:hover,
    .mobile-nav-chapters i:hover {
        color: $icons-hover
    }

    .mobile-nav-chapters i:hover {
        color: $sidebar-fg
    }

    .mobile-nav-chapters {
        background-color: $sidebar-bg
    }

    .content a:link, a:visited {
        color: $links
    }

    .theme-popup {
        background: $theme-popup-bg
        border: 1px solid $theme-popup-border

        .theme:hover { background-color: $theme-hover }
    }
}
