.{unquote($theme-name)} {

    color: $fg
    background-color: $bg

    .content .header:link, .content .header:visited {
        color: $fg;
        pointer: cursor;

        &:hover {
            text-decoration: none;
        }
    }

    .menu-bar {
        margin: auto (- $page-padding);

        & > #menu-bar-sticky-container {
            background-color: $bg
            border-bottom-color: $bg
            border-bottom-width: 1px
            border-bottom-style: solid
        }

        &.bordered > #menu-bar-sticky-container  {
            border-bottom-color: $table-border-color
        }
    }

    $table-border-color

    .sidebar {
        background-color: $sidebar-bg
        color: $sidebar-fg

        &::-webkit-scrollbar {
            background: $sidebar-bg;
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollbar;
        }
    }

    .chapter li {
        color: $sidebar-non-existant

        a { color: $sidebar-fg }

        .active,
         a:hover, {
            /* Animate color change */
            color: $sidebar-active
        }
    }

    .chapter .spacer {
        background-color: $sidebar-spacer
    }

    .menu-bar,
    .menu-bar:visited,
    .nav-chapters,
    .nav-chapters:visited,
    .mobile-nav-chapters,
    .mobile-nav-chapters:visited,
    .menu-bar .icon-button,
    .menu-bar a i {
        color: $icons
    }

    .menu-bar i:hover,
    .menu-bar .icon-button:hover,
    .nav-chapters:hover,
    .mobile-nav-chapters i:hover {
        color: $icons-hover
    }

    .mobile-nav-chapters i:hover {
        color: $sidebar-fg
    }

    .mobile-nav-chapters {
        background-color: $sidebar-bg
    }

    #searchresults a,
    .content a:link,
    a:visited,
    a > .hljs {
        color: $links
    }

    .theme-popup {
        color: $fg
        background: $theme-popup-bg
        border: 1px solid $theme-popup-border
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;

        .theme:hover { background-color: $theme-hover }

        .default { color: $icons }
    }

    blockquote {
        margin: 20px 0;
        padding: 0 20px;
        color: $fg;
        background-color: $quote-bg;
        border-top: .1em solid $quote-border;
        border-bottom: .1em solid $quote-border;
    }


    table {

        td {
            border-color: $table-border-color;
        }

        // Alternate background colors for rows
        tbody tr:nth-child(2n) {
            background: $table-alternate-bg;
        }

        thead {
            background: $table-header-bg;
            td { border: none; }
            tr { border: 1px $table-header-bg solid; }
        }
    }


    /* Inline code */
    :not(pre) > .hljs {
        display: inline-block;
        vertical-align: middle;
        padding: 0.1em 0.3em;
        border-radius: 3px;
        color: $inline-code-color;
    }

    a:hover > .hljs {
        text-decoration: underline;
    }

    pre {
        position: relative;

        & > .buttons {
            position: absolute;
            z-index: 100;
            right: 5px;
            top: 5px;

            color: $sidebar-fg;
            cursor: pointer;

            :hover { color: $sidebar-active; }
            i { margin-left: 8px; }
            button {
                color: inherit;
                background: transparent;
                border: none;
                cursor: inherit;
            }
        }

        & > .result { margin-top: 10px; }

    }

    .icon-button {
        border: none;
        background: none;
        padding: 0;
        color: inherit;

        i {
            margin: 0;
        }
    }

    ::-webkit-scrollbar {
        background: $bg;
    }

    ::-webkit-scrollbar-thumb {
        background: $scrollbar;
    }

    /* Search */
    #searchbar {
        border: 1px solid $searchbar-border-color;
        border-radius: 3px;
        background-color: $searchbar-bg;
        color: $searchbar-fg

        &:focus, &.active {
            box-shadow: 0 0 3px $searchbar-shadow-color;
        }
    }

    .searchresults-header {
        color: $searchresults-header-fg;
    }

    .searchresults-outer {
        border-bottom: 1px dashed $searchresults-border-color;
    }

    ul#searchresults li.focus {
        background-color: $searchresults-li-bg;
    }

    mark {
        background-color: $search-mark-bg;
    }
}
