$theme-name = 'coal'

$bg = #141617
$fg = #98a3ad

$sidebar-bg = #292c2f
$sidebar-fg = #a1adb8
$sidebar-non-existant = #505254
$sidebar-active = #3473ad
$sidebar-spacer = #393939

$icons = #43484d
$icons-hover = #b3c0cc

$links = #2b79a2

$theme-popup-bg = #141617
$theme-popup-border = #43484d
$theme-hover = #1f2124

@import 'base'
