$theme-name = 'light'

$bg = #ffffff
$fg = #333333

$sidebar-bg = #fafafa
$sidebar-fg = #364149
$sidebar-non-existant = #aaaaaa
$sidebar-active = #008cff
$sidebar-spacer = #f4f4f4

$icons = #cccccc
$icons-hover = #333333

$links = #4183c4

$theme-popup-bg = #fafafa
$theme-popup-border = #cccccc
$theme-hover = #e6e6e6

@import 'base'
