$theme-name = 'navy'

$bg = #161923
$fg = #bcbdd0

$sidebar-bg = #282d3f
$sidebar-fg = #c8c9db
$sidebar-non-existant = #505274
$sidebar-active = #2b79a2
$sidebar-spacer = #2d334f

$icons = #737480
$icons-hover = #b7b9cc

$links = #2b79a2

$theme-popup-bg = #161923
$theme-popup-border = #737480
$theme-hover = #282e40

@import 'base'
