$theme-name = 'rust'

$bg = #e1e1db
$fg = #262625

$sidebar-bg = #3b2e2a
$sidebar-fg = #c8c9db
$sidebar-non-existant = #505254
$sidebar-active = #e69f67
$sidebar-spacer = #45373a

$icons = #737480
$icons-hover = #262625

$links = #2b79a2

$theme-popup-bg = #e1e1db
$theme-popup-border = #b38f6b
$theme-hover = #99908a

@import 'base'
