html, body {
    font-family: "Open Sans", sans-serif;
    color: #333;
}


.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow-y: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    padding: 10px 10px;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    background-color: #fafafa;
    color: #364149;

    /* Animation: slide away */
    -webkit-transition: left 0.5s; /* Safari */
    -o-transition: left 0.5s; /* Opera */
    -moz-transition: left 0.5s; /* Mozilla Firefox */
    transition: left 0.5s;
}

.page-wrapper {
    position: absolute;
    overflow-y: auto;
    left: 315px;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    background: none repeat scroll 0 0 #FFF;
    -webkit-overflow-scrolling: touch;

    /* Animation: slide away */
    -webkit-transition: left 0.5s; /* Safari */
    -o-transition: left 0.5s; /* Opera */
    -moz-transition: left 0.5s; /* Mozilla Firefox */
    transition: left 0.5s;
}

@media only screen and (max-width: 1060px) {
    .sidebar {
        left: -300px;
    }
    .page-wrapper {
        left: 15px;
        padding-right: 15px;
    }
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.content {
    margin-left: auto;
    margin-right:auto;
    max-width: 750px;
    padding-bottom: 50px;
}

.chapter {
    list-style: none outside none;
    padding-left: 0;
    line-height: 30px;
}

.section {
    list-style: none outside none;
    padding-left: 20px;
    line-height: 40px;
}

.section li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chapter li {
    color: #AAA;
}

.chapter li a {
    color: #333;
    padding: 5px 0;
    text-decoration: none;
}

.chapter li .active {
    color: #008cff;
}

.chapter li a:hover {
    /* Animate color change */
    color: #008cff;
    text-decoration: none;
}

.menu-bar {
    height: 50px;
    color: #CCC;
}

.menu-bar i {
    -webkit-transition: color 0.5s; /* Safari */
    -o-transition: color 0.5s; /* Opera */
    -moz-transition: color 0.5s; /* Mozilla Firefox */
    transition: color 0.5s;
}

.menu-bar :hover {
    /* Animate color change */
    color: #333;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Content */

.content a {
    color: #4183c4;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

/* Nav icons */
.nav-chapters {
    color: #CCC;
    font-size: 40px;
    text-align: center;
    text-decoration: none;

    position: absolute;
    top: 50px; /* Height of menu-bar */
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    -webkit-transition: color 0.5s; /* Safari */
    -o-transition: color 0.5s; /* Opera */
    -moz-transition: color 0.5s; /* Mozilla Firefox */
    transition: color 0.5s;
}

.nav-chapters:hover {
    color: #333;
    text-decoration: none;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}
