<!DOCTYPE HTML>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="book.css" media="screen" title="no title" charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>

        <div id="sidebar" class="sidebar">
            {{#toc chapters}}{{/toc}}
        </div>

        <div id="page-wrapper" class="page-wrapper">

            <div id="menu-bar" class="menu-bar">
                <i id="sidebar-toggle" class="fa fa-bars left"></i>
                <h1 class="menu-title">{{ title }}</h1>
            </div>

            <div id="page" class="page">
                {{{ content }}}
            </div>

        </div>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="book.js"></script>
    </body>
</html>
