/* Sidebar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    overflow-y: auto;
    padding: 10px 10px;
    font-size: 0.875em;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-fg);

    /* Animation: slide away */
    transition: transform 0.5s
}

.sidebar::-webkit-scrollbar {
    background: var(--sidebar-bg);
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
}

.sidebar code {
    line-height: 2em;
}

.sidebar-hidden .sidebar {
    transform: translateX(calc(0px - var(--sidebar-width)));
}

.chapter {
    list-style: none outside none;
    padding-left: 0;
    line-height: 2.2em;
}

.chapter li {
    color: var(--sidebar-non-existant);
}

.chapter li a {
    color: var(--sidebar-fg);
    display: block;
    padding: 0;
    text-decoration: none;
}

.chapter li .active,
a:hover {
    /* Animate color change */
    color: var(--sidebar-active);
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
    .chapter li a {
        padding: 5px 0;
    }
}

.chapter li a:hover { 
    text-decoration: none;
}

.chapter .spacer {
    background-color: var(--sidebar-spacer);
    width: 100%;
    height: 3px;
    margin: 5px 0px;
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
    .chapter .spacer {
        margin: 10px 0; 
    }
}

.section {
    list-style: none outside none;
    padding-left: 20px;
    line-height: 1.9em;
}

.section li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Menu */

#menu-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;
    margin: auto (- var(--page-padding));
}

#menu-bar > #menu-bar-sticky-container {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.5s, border-bottom-color 0.5s;
    background-color: var(--bg);
    border-bottom-color: var(--bg);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#menu-bar.bordered > #menu-bar-sticky-container  {
    border-bottom-color: var(--table-border-color);
}

#menu-bar i, .icon-button {
    position: relative;
    margin: 0 10px;
    z-index: 10;
    line-height: 50px;

    transition: color 0.5s;
}

#menu-bar i:hover,
#menu-bar .icon-button:hover {
    cursor: pointer;
}

html:not(.sidebar-visible) #menu-bar:not(:hover).folded > #menu-bar-sticky-container  {
    transform: translateY(-60px);
}

.menu-title {
    display: inline-block;
    font-weight: 200;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.menu-bar,
.menu-bar:visited,
.nav-chapters,
.nav-chapters:visited,
.mobile-nav-chapters,
.mobile-nav-chapters:visited,
.menu-bar .icon-button,
.menu-bar a i {
    color: var(--icons);
}

.menu-bar i:hover,
.menu-bar .icon-button:hover,
.nav-chapters:hover,
.mobile-nav-chapters i:hover {
    color: var(--icons-hover);
}

.mobile-nav-chapters i:hover {
    color: var(--sidebar-fg);
}

.mobile-nav-chapters {
    background-color: var(--sidebar-bg);
}

/* Nav Icons */

.nav-chapters {
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;

    position: fixed;
    top: 50px; /* Height of menu-bar */
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 90px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    transition: color 0.5s;
}

.nav-chapters:hover { text-decoration: none; }

.nav-wrapper {
    margin-top: 50px;
    display: none;
}

.mobile-nav-chapters { 
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    width: 90px;
    border-radius: 5px;
}

.previous {
    float: left;
}

.next {
    float: right;
    right: var(--page-padding);
}

@media only screen and (max-width: var(--page-plus-sidebar-width)) {
    .nav-wide-wrapper { display: none; }
    .nav-wrapper { display: block; }
}

@media only screen and (max-width: calc(var(--page-plus-sidebar-width) + var(--sidebar-width))) {
    .sidebar-visible .nav-wide-wrapper { display: none; }
    .sidebar-visible .nav-wrapper { display: block; }
}

/* Theme Popup */

.theme-popup {
    position: absolute;
    left: 10px;

    z-index: 1000;

    border-radius: 4px;
    font-size: 0.7em;

    color: var(--fg);
    background: var(--theme-popup-bg);
    border: 1px solid var(--theme-popup-border);
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.theme-popup .default {
    color: var(--icons);
}

.theme-popup .theme {
    display: inline;
    border: 0;
    margin: 0;
    padding: 2px 10px;
    line-height: 25px;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    color: inherit;
    background: inherit;
    font-size: inherit;
}

.theme-popup .theme:hover {
    background-color: var(--theme-hover);
}

.theme-popup .theme:hover:first-child,
.theme-popup .theme:hover:last-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

/* Searchbar */

#searchresults a {
    text-decoration: none;
}

mark {
    background-color: var(--search-mark-bg);
    border-radius: 2px;
    padding: 0 3px 1px 3px;
    margin: 0 -3px -1px -3px;
    transition: background-color 300ms linear;
}

.fade-out {
    background-color: rgba(0,0,0,0) !important
}

.searchbar-outer {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}

#searchbar {
    display: block;
    width: 100%;
    margin: 5px auto 0px auto;
    padding: 10px 16px;
    transition: box-shadow 300ms ease-in-out;
    border: 1px solid var(--searchbar-border-color);
    border-radius: 3px;
    background-color: var(--searchbar-bg);
    color: var(--searchbar-fg);
}

#searchbar:focus,
#searchbar.active {
    box-shadow: 0 0 3px var(--searchbar-shadow-color);
}

.searchresults-header {
    color: var(--searchresults-header-fg);
    font-weight: bold;
    font-size: 1em;
    padding: 18px 0 0 5px;
}

.searchresults-outer {
    border-bottom: 1px dashed var(--searchresults-border-color);
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}

ul#searchresults {
    list-style: none;
    padding-left: 20px;
}

ul#searchresults li {
    margin: 10px 0px;
    padding: 2px;
    border-radius: 2px;
}

ul#searchresults li.focus {
    background-color: var(--searchresults-li-bg);
}

ul#searchresults span.teaser {
    display: block;
    clear: both;
    margin: 5px 0 0 20px;
    font-size: 0.8em;
}

ul#searchresults span.teaser em {
    font-weight: bold;
    font-style: normal;
}
