#menu-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 101;
}
#menu-bar > #menu-bar-sticky-container {
    display: flex;
    flex-wrap: wrap;
}
.js #menu-bar > #menu-bar-sticky-container {
    transition: transform 0.3s;
}
#menu-bar i, #menu-bar .icon-button {
    position: relative;
    margin: 0 8px;
    z-index: 10;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.5s;
}
@media only screen and (max-width: var(--narrow-device-max-width)) {
    #menu-bar i, #menu-bar .icon-button {
        margin: 0 5px;
    }
}

#print-button {
    margin: 0 15px;
}

html:not(.sidebar-visible) #menu-bar:not(:hover).folded > #menu-bar-sticky-container {
    transform: translateY(-60px);
}

.left-buttons { margin: 0 5px; }
.no-js .left-buttons { display: none; }

.menu-title {
    display: inline-block;
    font-weight: 200;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.js .menu-title {
    cursor: pointer;
}
