@import 'variables.css';

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
    overflow-y: auto;
    padding: 10px 10px;
    font-size: 0.875em;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
}
.js .sidebar {
    transition: transform 0.3s; /* Animation: slide away */
}
.sidebar code {
    line-height: 2em;
}
.sidebar-hidden .sidebar {
    transform: translateX(- var(--sidebar-width));
}

.chapter {
    list-style: none outside none;
    padding-left: 0;
    line-height: 2.2em;
}
.chapter li a {
    display: block;
    padding: 0;
    text-decoration: none;
}
.chapter li a:hover { text-decoration: none }

.spacer {
    width: 100%;
    height: 3px;
    margin: 5px 0px;
}

@media (-moz-touch-enabled: 1), (pointer: coarse) { 
    .chapter li a { padding: 5px 0; }
    .spacer { margin: 10px 0; }
}

.section {
    list-style: none outside none;
    padding-left: 20px;
    line-height: 1.9em;
}
