.theme-popup {
    position: absolute;
    left: 10px;
    z-index: 1000;
    border-radius: 4px;
    font-size: 0.7em;
}
.theme-popup .theme {
    display: inline;
    border: 0;
    margin: 0;
    padding: 2px 10px;
    line-height: 25px;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    color: inherit;
    background: inherit;
    font-size: inherit;
}
.theme-popup .theme:hover:first-child,
.theme-popup .theme:hover:last-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
