name: Deploy
on:
  release:
    types: [created]

jobs:
  release:
    name: Deploy Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@master
    - name: Install hub
      run: ci/install-hub.sh ${{ matrix.os }}
      shell: bash
    - name: Install Rustup
      run: ci/install-rustup.sh stable
      shell: bash
    - name: Install Rust
      run: ci/install-rust.sh stable
      shell: bash
    - name: Build and deploy artifacts
      run: ci/make-release.sh ${{ matrix.os }}
      shell: bash
  pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@master
    - name: Install Rust (rustup)
      run: rustup update stable --no-self-update && rustup default stable
    - name: Deploy to GitHub Pages
      run: ci/deploy-gh-pages.sh
